html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  /* inherits the browser's font properties: font-size 16px */
  font: inherit;
  /*  specifies the vertical alignment of an inline element */
  vertical-align: baseline;
  box-sizing: border-box;
  /*  specifies the height of line boxes within the element. */
  line-height: 1;
  border-radius: 0;
  /* no outline around anything */
  outline: none;
  /* inherit the color value of the parent */
  color: inherit; }

ol, ul {
  /* no bullets in lists */
  list-style: none; }

a {
  /* the color of the font for anchor tags is inherited */
  color: inherit;
  /* no underline */
  text-decoration: none; }

button {
  /* turn the cursor into a pointing finger */
  cursor: pointer;
  background-color: transparent; }

blockquote, q {
  /* no quotes */
  quotes: none; }

table {
  /* no spacing between cells*/
  border-spacing: 0;
  /*borders are collapsed - adjacent table cells share borders */
  border-collapse: collapse; }

sup {
  vertical-align: super;
  font-size: small; }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 131.25em) {
    html {
      font-size: 87.5%; } }
  @media screen and (min-width: 131.25em) and (min-width: 150em) {
    html {
      font-size: 93.75%; } }
  @media screen and (min-width: 168.75em) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 187.5em) {
    html {
      font-size: 112.5%; } }
  @media screen and (min-width: 206.25em) {
    html {
      font-size: 125%; } }
  @media screen and (min-width: 225em) {
    html {
      font-size: 137.5%; } }
  @media screen and (min-width: 237.5em) {
    html {
      font-size: 150%; } }
  @media screen and (min-width: 250em) {
    html {
      font-size: 157%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 53.125em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #fff; }

img {
  max-width: 100%;
  width: auto;
  height: 100%; }

svg {
  width: 2rem;
  height: 2rem;
  fill: white; }

svg:hover {
  cursor: pointer; }

a {
  display: block; }
  a:active {
    transform: translateY(2px); }

h1, h2 {
  text-align: center;
  line-height: 1.2; }

:focus {
  color: #2b9a56;
  border: 1px #06955C solid; }

@keyframes changeBtnBg {
  0% {
    background: linear-gradient(to top, #6e40a7, #9749de);
    background: transparent; }
  100% {
    background: linear-gradient(to top, #6e40a7, #9749de);
    opacity: 0; } }

.btn {
  max-width: 19rem;
  padding: 1.5rem 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer; }
  .btn--blue {
    background-color: #098352;
    color: white;
    box-shadow: none;
    padding: 2.5rem 3rem;
    font-size: 2rem;
    font-weight: 600; }
  .btn--green {
    background-color: #2b9a56;
    color: white;
    box-shadow: none;
    padding: 1.7rem 3.3rem;
    font-size: 2rem;
    font-weight: 500; }
  .btn--darkBlue {
    background-color: #015A37;
    color: white;
    padding: 2rem 0;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    max-width: 22rem; }
    @media (max-width: 900px) {
      .btn--darkBlue {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75); } }
  .btn--leftDig {
    padding: 1rem 1.5rem;
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.2rem;
    box-shadow: none;
    background-color: #2b9a56;
    color: white;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%); }
  .btn--rightDig {
    clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%); }
  .btn--arrows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #098352;
    height: 100%;
    max-height: 8rem;
    width: 36rem;
    max-width: 36rem;
    padding: 0;
    color: white;
    border-radius: 6px;
    border: 2px dashed #015A37; }
    .btn--arrows h4 {
      font-family: Roboto,sans-serif;
      font-size: 2.9rem;
      font-weight: 500; }
    .btn--arrows .rotate180 {
      transform: rotate(180deg); }

.productBox {
  width: 100%;
  height: 37rem;
  margin: 2rem 0 0;
  padding: 3.5rem 4rem;
  background-color: #eff8fb;
  display: flex;
  border: 2px dashed rgba(143, 141, 141, 0.7); }
  @media (max-width: 500px) {
    .productBox {
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1rem 1rem 3.5rem 1rem; } }
  .productBox > picture > img {
    margin-right: 5rem;
    mix-blend-mode: darken; }
    @media (max-width: 600px) {
      .productBox > picture > img {
        margin-right: 3rem; } }
    @media (max-width: 500px) {
      .productBox > picture > img {
        height: 31rem;
        margin: 1rem 0 2rem; } }
  @media (max-width: 500px) {
    .productBox__content {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center; } }
  .productBox__content .textList {
    margin-top: 0; }
  .productBox__content h2 {
    text-align: left;
    font-family: 'Anton', sans-serif;
    font-size: 2.4rem;
    color: black; }
    @media (max-width: 500px) {
      .productBox__content h2 {
        font-size: 3.6rem;
        text-align: center; } }
  .productBox__content li {
    margin: 2rem 0 !important; }
    .productBox__content li div h4 {
      margin-left: 2rem;
      line-height: 1.5; }
  .productBox__content .btn {
    margin-top: 2rem; }
    @media (max-width: 500px) {
      .productBox__content .btn {
        margin-top: 0; } }
  .productBox p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.4; }

.productBoxSimple {
  max-width: 67rem;
  margin: 3rem auto; }
  .productBoxSimple .productBox__content {
    display: flex;
    flex-flow: column;
    justify-content: center; }
    .productBoxSimple .productBox__content li {
      margin: 1.5rem 0 !important; }
  .productBoxSimple h2 {
    font-family: Montserrat,sans-serif;
    font-weight: bold; }
  .productBoxSimple ul {
    font-family: Roboto,sans-serif; }
    .productBoxSimple ul p {
      font-size: 1.9rem; }
  .productBoxSimple .productImage {
    width: 40%; }
    @media (max-width: 500px) {
      .productBoxSimple .productImage {
        width: 100%;
        text-align: center; } }
    .productBoxSimple .productImage img {
      height: 26.5rem; }

.textList {
  margin-top: 2rem; }
  .textList p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.4; }
  .textList li {
    margin: 2rem 0 3rem; }
    .textList li:last-of-type {
      margin-bottom: 1rem; }
    .textList li img {
      min-width: 2rem;
      width: 2rem;
      min-height: 2rem;
      height: 2rem; }
    .textList li div {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .textList li div h4 {
        font-size: 1.65rem;
        font-weight: bold;
        color: #000;
        margin-left: 1rem; }

.textList2 {
  padding-left: 0.5rem; }
  .textList2 li {
    margin: 1.5rem 0; }
    .textList2 li p {
      padding-left: 2.5rem;
      margin: 0 !important;
      position: relative; }
      .textList2 li p:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #000;
        position: absolute;
        left: 0;
        top: 10px; }

.purchaseLink {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #098352;
  border: 2px dashed #015A37;
  border-radius: 6px;
  color: white;
  padding: 0 0.2rem;
  margin: 1rem 0; }
  @media (max-width: 600px) {
    .purchaseLink img {
      display: none; } }
  .purchaseLink a {
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin: 0 3rem;
    width: 60%; }
    @media (max-width: 600px) {
      .purchaseLink a {
        width: 100%;
        margin: 0 1rem; } }

.productsTable {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  margin: 1rem 0;
  border-left: 1px solid #d7d7d7;
  box-shadow: 5px 5px 5px rgba(210, 210, 210, 0.75); }
  .productsTable > div {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .productsTable .w75 {
    width: 75%;
    padding-left: 1.5rem; }
    @media (max-width: 600px) {
      .productsTable .w75 {
        width: 67%;
        padding-left: 1rem; } }
  .productsTable .w50 {
    width: 50%;
    padding-left: 1.5rem; }
    @media (max-width: 600px) {
      .productsTable .w50 {
        width: 33%;
        padding-left: 1rem; } }
  .productsTable .w25 {
    width: 25%;
    display: flex; }
    @media (max-width: 600px) {
      .productsTable .w25 {
        width: 33%; } }
  .productsTable h2, .productsTable h3, .productsTable h4 {
    text-align: left; }
  .productsTable .tableHeading {
    background-color: #efefef;
    border-bottom: 1px solid #d7d7d7; }
    .productsTable .tableHeading h2.w25 {
      padding-left: 0.3rem; }
      @media (max-width: 600px) {
        .productsTable .tableHeading h2.w25 {
          padding-left: 0;
          justify-content: center; } }
    .productsTable .tableHeading h2 {
      color: black;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: bold; }
  .productsTable .tableRow {
    border-bottom: 1px solid #d7d7d7; }
    .productsTable .tableRow h3, .productsTable .tableRow a {
      font-size: 1.4rem;
      font-weight: 600;
      color: black;
      font-family: 'Open Sans', sans-serif; }
    @media (max-width: 600px) {
      .productsTable .tableRow h3 {
        font-size: 1.6rem;
        line-height: 1.4; } }
    .productsTable .tableRow .rowRating {
      display: flex;
      flex-flow: row wrap; }
      @media (max-width: 600px) {
        .productsTable .tableRow .rowRating {
          justify-content: center;
          width: 33%; } }
      .productsTable .tableRow .rowRating img {
        margin: 0 0.2rem; }
    @media (max-width: 600px) {
      .productsTable .tableRow .readMore {
        width: 33%;
        justify-content: center;
        padding-right: 0.5rem; } }
    .productsTable .tableRow .readMore a {
      display: flex;
      align-items: center;
      width: auto;
      color: #098352; }
    .productsTable .tableRow .readMore img {
      margin-right: 1rem; }
      @media (max-width: 600px) {
        .productsTable .tableRow .readMore img {
          margin-right: 0.5rem; } }
  @media (max-width: 600px) {
    .productsTable .tableFooter {
      flex-flow: column; } }
  @media (max-width: 600px) {
    .productsTable .tableFooter .leftSide {
      width: 95% !important; }
      .productsTable .tableFooter .leftSide p {
        text-align: center; }
      .productsTable .tableFooter .leftSide h3 {
        text-align: center; } }
  .productsTable .tableFooter .rightSide {
    display: flex;
    flex-flow: column;
    align-items: flex-end; }
    @media (max-width: 600px) {
      .productsTable .tableFooter .rightSide {
        align-items: center;
        justify-content: center;
        width: 95% !important; } }
    .productsTable .tableFooter .rightSide h4 {
      font-size: 5.5rem;
      font-weight: bold; }
    .productsTable .tableFooter .rightSide .rowRating {
      text-align: center; }
    .productsTable .tableFooter .rightSide .rowRating img {
      height: 2.5rem; }

.productTableReview {
  border: 1px solid #E4E4E4; }
  .productTableReview > :nth-child(2n+1) {
    background-color: rgba(248, 248, 248, 0.6); }
  .productTableReview h3 {
    font-weight: bold !important;
    font-size: 1.8rem !important; }
  .productTableReview .w25 {
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 2.5rem; }
    @media (max-width: 550px) {
      .productTableReview .w25 {
        padding-right: 1rem; } }

.ctaText {
  width: 100%;
  height: 10rem;
  padding-top: 2rem; }
  @media (max-width: 760px) {
    .ctaText {
      height: 18rem; } }
  @media (max-width: 500px) {
    .ctaText {
      height: 25rem;
      padding: 1rem 0 0; } }
  .ctaText .container {
    flex-flow: row;
    justify-content: space-evenly;
    height: 100%; }
    @media (max-width: 1050px) {
      .ctaText .container {
        margin: 0 auto;
        justify-content: space-around; } }
    @media (max-width: 760px) {
      .ctaText .container {
        flex-flow: column;
        justify-content: space-evenly;
        height: 100%; } }
  .ctaText__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    max-height: 8rem; }
    @media (max-width: 1050px) {
      .ctaText__txt {
        transform: translateX(0); } }
    .ctaText__txt h2 {
      font-family: 'Montserrat',sans-serif;
      font-weight: bold;
      font-size: 3rem; }
      @media (max-width: 900px) and (min-width: 850px) {
        .ctaText__txt h2 {
          font-size: 2.7rem; } }
      @media (max-width: 500px) {
        .ctaText__txt h2 {
          font-size: 2.7rem; } }
      @media (max-width: 400px) {
        .ctaText__txt h2 {
          margin-bottom: 0.5rem; } }
      .ctaText__txt h2 .primaryColorText {
        color: #098352; }
    .ctaText__txt p {
      font-family: 'Montserrat',sans-serif;
      font-weight: 600;
      font-size: 1.8rem; }
      @media (max-width: 850px) {
        .ctaText__txt p {
          text-align: center; } }
  .ctaText .btn {
    transform: translateX(0rem); }
    @media (max-width: 1200px) {
      .ctaText .btn {
        transform: translateX(-2rem); } }
    @media (max-width: 900px) {
      .ctaText .btn {
        transform: translateX(0rem); } }

.header {
  width: 100%;
  height: 90vh;
  max-height: 85rem;
  background-color: #F9F9F9;
  position: relative; }
  @media (max-width: 760px) {
    .header {
      min-height: 95vh;
      height: auto; } }
  .header .headerBG {
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(6, 149, 92, 0.7);
    background-image: url("../img/heroBG.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 760px) {
      .header .headerBG {
        clip-path: none;
        background-position: 40%; } }
    .header .headerBG:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(6, 149, 92, 0.8); }
  .header .container {
    margin: 0 auto;
    height: 100%;
    z-index: 3;
    color: white; }
  .header__top {
    z-index: 3;
    width: 100%;
    height: 10vh;
    max-height: 10rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; }
    .header__top__logo {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 990px) {
        .header__top__logo {
          width: 22%; }
          .header__top__logo img {
            width: 100%; } }
      @media (max-width: 760px) {
        .header__top__logo {
          width: auto; } }
    .header__top__nav {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      transform-origin: top;
      transition: all 0.3s;
      z-index: 999; }
      @media (max-width: 990px) {
        .header__top__nav {
          width: 68%; } }
      @media (max-width: 760px) {
        .header__top__nav {
          width: 100%;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: 1.5rem;
          position: absolute;
          left: 0;
          top: 6.5rem;
          height: auto;
          background-color: #06955C; } }
      .header__top__nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        transform-origin: top;
        transition: all 0.7s;
        font-family: 'Source Sans Pro', sans-serif; }
        @media (max-width: 760px) {
          .header__top__nav ul {
            flex-flow: column;
            width: 100%; } }
        .header__top__nav ul li {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 1.6rem;
          letter-spacing: 1px;
          color: white;
          height: 100%;
          position: relative; }
          @media (max-width: 760px) {
            .header__top__nav ul li {
              width: 100% !important;
              min-height: 6rem;
              height: auto;
              color: white;
              text-align: left;
              border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
              font-size: 2rem;
              font-weight: 500;
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: center; } }
          .header__top__nav ul li a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0.5rem 1rem;
            cursor: pointer; }
            @media (max-width: 950px) {
              .header__top__nav ul li a {
                padding: 0.5rem 1rem; } }
            @media (max-width: 900px) {
              .header__top__nav ul li a {
                padding: 1.3rem 0.9rem; } }
            @media (max-width: 760px) {
              .header__top__nav ul li a {
                width: 100% !important; } }
            .header__top__nav ul li a:hover, .header__top__nav ul li a:after, .header__top__nav ul li a:focus {
              color: white; }
            .header__top__nav ul li a:after {
              display: block;
              content: '';
              width: 45%;
              height: 3px;
              background-color: white;
              position: absolute;
              left: 1rem;
              bottom: 24%;
              transform: scaleX(0);
              transition: all 0.2s ease-in-out;
              transform-origin: left; }
          @media (min-width: 760px) {
            .header__top__nav ul li:hover a:after {
              transform: scaleX(1); } }
  .header__Content {
    z-index: 2;
    display: flex;
    flex-flow: row;
    padding: 0 4rem;
    height: 80%;
    width: 100%; }
    @media (max-width: 1000px) {
      .header__Content {
        padding: 0 2rem; } }
    @media (max-width: 920px) {
      .header__Content {
        padding: 0 1rem; } }
    @media (max-width: 800px) {
      .header__Content {
        padding: 0; } }
    @media (max-width: 760px) {
      .header__Content {
        flex-flow: column;
        height: 87%;
        min-height: auto;
        padding-bottom: 1rem; } }
    @media (max-width: 1000px) {
      .header__Content__text {
        width: 70%; } }
    @media (max-width: 760px) {
      .header__Content__text {
        width: 100%;
        height: 60%;
        order: 2;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; } }
    .header__Content__text h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 5rem;
      font-weight: bold;
      text-align: left; }
      @media (max-width: 1060px) {
        .header__Content__text h1 {
          font-size: 4.5rem; } }
      @media (max-width: 950px) {
        .header__Content__text h1 {
          font-size: 4rem; } }
      @media (max-width: 800px) {
        .header__Content__text h1 {
          font-size: 3.7rem; } }
      @media (max-width: 760px) {
        .header__Content__text h1 {
          text-align: center; } }
      @media (max-width: 450px) {
        .header__Content__text h1 {
          font-size: 3rem; } }
      @media (max-width: 380px) {
        .header__Content__text h1 {
          font-size: 2.8rem; } }
      @media (max-width: 350px) {
        .header__Content__text h1 {
          font-size: 2.6rem; } }
      @media (max-width: 315px) {
        .header__Content__text h1 br {
          display: none; } }
    .header__Content__text .textList {
      margin: 3rem 0; }
      @media (max-width: 760px) {
        .header__Content__text .textList {
          margin: 2rem 0 1rem; } }
    .header__Content__text .textList h4 {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      color: white;
      font-size: 2rem; }
    .header__Content__text .textList li {
      margin: 1rem 0 2rem; }
    .header__Content__text img {
      height: 7rem; }
    @media (max-width: 760px) {
      .header__Content__image {
        height: 40%;
        width: 100%;
        text-align: center;
        order: 1; }
        .header__Content__image img {
          height: 100%;
          max-height: 26rem; } }

@media (max-width: 760px) {
  .hideNav {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute; } }

.hamburgerMenu {
  transition: all 0.2s ease-in-out;
  margin: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  width: 3rem;
  height: 3rem; }
  .hamburgerMenu div {
    width: 100%;
    height: 2px;
    background-color: white; }
  @media (min-width: 760px) {
    .hamburgerMenu {
      display: none; } }
  .hamburgerMenu img {
    max-width: 3rem;
    max-height: 2rem;
    filter: invert(100); }

@media (max-width: 760px) {
  .makeCross {
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: all 0.2s ease-in-out; }
    .makeCross > :nth-child(1) {
      transform: rotate(45deg); }
    .makeCross > :nth-child(2) {
      transform: rotate(-45deg) translate(1px, -1px); }
    .makeCross > :nth-child(3) {
      display: none; } }

main {
  width: 100%;
  height: auto;
  margin: 0 0 6rem; }

.container {
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 133.7rem; }

.sectionText {
  margin: 1.5rem 0;
  padding: 0 2rem 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .sectionText .container {
    margin: 0 auto;
    align-items: flex-start; }
  @media (max-width: 550px) {
    .sectionText {
      padding: 2rem 0 0; } }
  .sectionText h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    color: #161616;
    text-transform: uppercase;
    text-align: left; }
    .sectionText h1 strong {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
  .sectionText h1.heading-thin {
    font-size: 2.8rem;
    font-weight: 400 !important;
    color: #2C2C2C; }
  .sectionText h2 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 1rem; }
  .sectionText h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem; }
  .sectionText p {
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.9; }
  .sectionText .productsTable {
    margin-top: 3rem; }

section.sectiontextImage {
  padding-bottom: 0; }

.sectiontextImage .container {
  flex-flow: row; }
  @media (max-width: 760px) {
    .sectiontextImage .container {
      flex-flow: column; } }

.sectiontextImage .sectionText {
  width: 75%; }
  @media (max-width: 950px) {
    .sectiontextImage .sectionText {
      width: 70%; } }
  @media (max-width: 760px) {
    .sectiontextImage .sectionText {
      width: 100%;
      order: 2; } }

.sectiontextImage .sectionTextImage {
  width: 25%; }
  @media (max-width: 950px) {
    .sectiontextImage .sectionTextImage {
      width: 30%; } }
  @media (max-width: 760px) {
    .sectiontextImage .sectionTextImage {
      width: 100%;
      order: 1;
      text-align: center; } }
  .sectiontextImage .sectionTextImage img {
    width: 100%;
    height: 49rem; }
    @media (max-width: 760px) {
      .sectiontextImage .sectionTextImage img {
        width: auto;
        height: 40rem; } }

.btnGreenArrow {
  width: 37rem;
  max-width: 37rem;
  height: 8rem;
  align-self: center;
  margin: 1rem 0 0; }

.productListingCat {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between; }
  .productListingCat__categories {
    width: 26%; }
    @media (max-width: 760px) {
      .productListingCat__categories {
        width: 100%; } }
    .productListingCat__categories h2 {
      text-align: left;
      padding: 1.5rem 2rem;
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: #000; }
    .productListingCat__categories li {
      border-top: 1px solid #d0d0d0;
      padding: 1.5rem 0;
      padding-left: 5rem;
      font-size: 1.6rem;
      cursor: pointer;
      position: relative; }
      .productListingCat__categories li:last-of-type {
        border-bottom: 1px solid #d0d0d0; }
    .productListingCat__categories li.activeLiCat:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 1.6rem;
      background-color: #f15e33; }
  .productListingCat__listingAll {
    width: 72%; }
    @media (max-width: 760px) {
      .productListingCat__listingAll {
        width: 100%;
        padding: 1rem 1.5rem; } }
    .productListingCat__listingAll__products {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start; }
      .productListingCat__listingAll__products .product {
        border: 1px solid #d0d0d0;
        width: 33.33%;
        margin: 0; }
        @media (max-width: 650px) {
          .productListingCat__listingAll__products .product {
            width: 50%; } }
        @media (max-width: 450px) {
          .productListingCat__listingAll__products .product {
            width: 100%; } }
        @media (max-width: 650px) {
          .productListingCat__listingAll__products .product:nth-child(2n) {
            border-left: none; }
          .productListingCat__listingAll__products .product:nth-child(n+3) {
            border-top: none; } }
        @media (max-width: 450px) {
          .productListingCat__listingAll__products .product:nth-child(2n) {
            border-left: 1px solid #d0d0d0; } }
        @media (min-width: 650px) {
          .productListingCat__listingAll__products .product:nth-child(3n+2) {
            border-right: none;
            border-left: none; }
          .productListingCat__listingAll__products .product:nth-child(n+4) {
            border-top: none; } }

.sectionProductText {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding-bottom: 2rem; }
  .sectionProductText .sectionText {
    margin-bottom: 0; }
    .sectionProductText .sectionText p {
      line-height: 1.9;
      max-width: 83rem; }

.link-Primary {
  display: inline-block;
  color: #06955C; }

.bg-dark {
  background-color: #F9F9F9; }

.m-0-p-5 {
  margin: 0 !important;
  padding: 5rem 0; }

section, footer {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

main > .container {
  margin: 0 auto;
  align-items: flex-start;
  flex-flow: column; }
  @media (max-width: 960px) {
    main > .container {
      flex-flow: column; } }

.rotate180 {
  transform: rotate(180deg); }

.footer {
  min-height: 20px;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0; }
  .footer .container {
    max-width: 135rem;
    width: 95%;
    padding: 2rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      .footer .container {
        max-width: 117rem; } }
  .footer__top {
    width: 100%;
    background-color: #262626;
    min-height: 12rem;
    display: flex;
    justify-content: center; }
    @media (max-width: 1050px) {
      .footer__top .container {
        flex-flow: column; }
      .footer__top ul {
        margin: 1.5rem 0; } }
    .footer__top ul {
      display: flex;
      opacity: 0.7; }
      @media (max-width: 500px) {
        .footer__top ul {
          flex-flow: column;
          justify-content: center;
          align-items: center; } }
      .footer__top ul li {
        padding: 0 2.5rem; }
        .footer__top ul li:not(:last-of-type) {
          border-right: 1px solid white; }
        @media (max-width: 500px) {
          .footer__top ul li {
            border: none !important;
            margin: 1rem 0; } }
        .footer__top ul li a {
          font-weight: 300;
          font-family: 'Roboto',sans-serif;
          font-size: 1.8rem; }
    .footer__top p {
      display: flex;
      align-items: center; }
      @media (max-width: 600px) {
        .footer__top p {
          width: 100%;
          justify-content: center;
          padding: 1rem 0; } }
    .footer__top__socialMedia {
      opacity: 0.7;
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: auto; }
      .footer__top__socialMedia h3 {
        font-size: 1.5rem; }
      .footer__top__socialMedia div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem; }
        .footer__top__socialMedia div a {
          margin: 0 1rem; }
        @media (max-width: 900px) {
          .footer__top__socialMedia div {
            margin-left: 1rem; }
            .footer__top__socialMedia div h3 {
              font-size: 1.7rem; }
            .footer__top__socialMedia div a {
              margin: 0 0.8rem; } }
      @media (max-width: 600px) {
        .footer__top__socialMedia {
          width: 100%;
          justify-content: center;
          padding: 1rem 0; }
          .footer__top__socialMedia div {
            margin-left: 0; }
          .footer__top__socialMedia h3 {
            font-size: 2rem; }
          .footer__top__socialMedia a {
            margin: 0 1rem !important; } }
  .footer__bottom {
    width: 100%;
    height: 8rem;
    text-align: center;
    background-color: #1A1A1A; }
    .footer__bottom .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .footer__bottom p {
      opacity: 0.6;
      font-weight: 300;
      font-family: 'Roboto',sans-serif;
      font-size: 1.8rem; }
      .footer__bottom p a {
        display: inline-block; }
        .footer__bottom p a:hover {
          text-decoration: underline; }
