main{
  width: 100%;
  height: auto;
  margin: 0 0 6rem;
}

.container{
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  max-width: 133.7rem;

}



.sectionText{
  margin: 1.5rem 0;
  padding: 0 2rem 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;


  .container{
    margin: 0 auto;
    align-items: flex-start;
  }


  @media (max-width: 550px) {
    padding: 2rem 0 0;
  }


  h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    color: #161616;
    text-transform: uppercase;
    text-align: left;
    strong{
      font-family: 'Montserrat', sans-serif;

      font-weight: bold;
    }
  }

  h1.heading-thin{
    font-size: 2.8rem;
    font-weight: 400!important;
    color: #2C2C2C;

  }

  h2{
      font-size: 2.8rem;
      font-weight: 600;
      margin-top: 1rem;
  }
  h3{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  p{
    margin-top: 1.5rem;
    font-size: 1.55rem;
    color: black;
    line-height: 1.9;
  }

  .productsTable{
    margin-top:3rem;
  }
}


section.sectiontextImage{
  padding-bottom: 0;
}
.sectiontextImage{

  .container{
    flex-flow: row;
    @media (max-width: 760px) {
      flex-flow: column;
    }
  }

  .sectionText{
    width: 75%;


    @media (max-width: 950px) {
      width: 70%;
    }
    @media (max-width: 760px) {
      width: 100%;
      order: 2;

    }

  }

  .sectionTextImage{
    width: 25%;


    @media (max-width: 950px) {
      width: 30%;
    }
    @media (max-width: 760px) {
      width: 100%;
      order: 1;
      text-align: center;
    }

    img{
      width: 100%;
      height: 49rem;

      @media (max-width: 760px) {
        width: auto;
        height: 40rem;

      }

    }
  }


}




.btnGreenArrow{
  width: 37rem;
  max-width: 37rem;
  height: 8rem;
  align-self: center;
  margin: 1rem 0 0;
}

.productListingCat{

  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__categories{
    width: 26%;


    @media (max-width: 760px) {
      width: 100%;
    }
    h2{
      text-align: left;
      padding: 1.5rem 2rem;
      font-family: 'Oswald', sans-serif;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: bold;
      color: #000;
    }


    li{
      border-top: 1px solid #d0d0d0;
      padding: 1.5rem 0;
      padding-left: 5rem;
      font-size: 1.6rem;
      cursor: pointer;
      position: relative;

      &:last-of-type{
        border-bottom: 1px solid #d0d0d0;

      }
    }
    li.activeLiCat:after{
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5px;
      height: 1.6rem;
      background-color: #f15e33;

    }

  }



  &__listingAll{
    width: 72%;

    @media (max-width: 760px) {
      width: 100%;
      padding: 1rem 1.5rem;
    }



    &__products{

      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start;


      .product{
        border: 1px solid #d0d0d0;
        width: 33.33%;
        margin: 0;


        @media (max-width: 650px) {
          width: 50%;
        }


        @media (max-width: 450px) {
          width: 100%;
        }



        @media (max-width: 650px) {

          &:nth-child(2n){  //2 4 6 8
            border-left: none;
          }


          &:nth-child(n+3){  //3,4,5,6,7,8,9
            border-top: none;
          }
        }


        @media (max-width: 450px) {

          &:nth-child(2n){  //2 4 6 8
            border-left: 1px solid #d0d0d0;
          }

        }



        @media (min-width: 650px) {

          &:nth-child(3n+2){  //2 5 7
            border-right: none;
            border-left: none;
          }


          &:nth-child(n+4){  //4,5,6,7,8,9
            border-top: none;
          }
        }


      }


    }
  }

}



.sectionProductText{
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 1.5rem 0;
  padding-bottom: 2rem;

  .sectionText{
    margin-bottom: 0;

    p{
      line-height: 1.9;
      max-width: 83rem;
    }
  }
}



.link-Primary{
  display: inline-block;
  color: $color-primary;
}

.bg-dark{
  background-color: #F9F9F9;
}

.m-0-p-5{
  margin: 0!important;
  padding: 5rem 0;
}


section,footer{
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


main>.container{
  margin: 0 auto;
  align-items: flex-start;
  flex-flow: column;

  @media (max-width: 960px) {
    //width: 97%;
    flex-flow: column;
  }
}










.rotate180{
  transform: rotate(180deg);
}
